body {
	margin: 2% 15% 2% 15%;
	padding: 0px;
	text-align: center;
	border: 2px dashed #0B0514;
	background: #A37FDC;
	border-radius: 5px;
	font-size: 1.2em;
}
main {
	background: #F1EBFA;
	border-radius: 5px;
	padding: 0px;
	height: 600px;
}
nav {
	float: left;
	margin: 15px 10px 10px 0px;
	position: sticky;
	top: 20px;
	text-align: left;
}
a {
	background: #33195C;
	color: #D7C7F0;
	border: 2px dashed #160A29;
	border-radius: 0px 5px 5px 0px;
	border-left: none;
	padding: 10px;
	text-decoration: none;
	font-size: 1.75em;
	margin: 10px 0px 10px 0px;
	font-family: "Jersey 10", sans-serif;
}
a:hover {
	background: #D7C7F0;
	color: #33195C;
	font-family: "Jersey 10", sans-serif;
}
#feedbox {
	float: right;
	background: #33195C;
	width: 25%;
	height: 100%;
	border-radius: 5px 0px 0px 5px;
	color: #D7C7F0;
}
#feed {
	color: #160A29;
	overflow: scroll;
	scrollbar-color: rgba(236, 233, 242, .5) rgba(32, 26, 44, 0);
	margin: 15px;
	background: #BBB0D1;
	height: 75%;
	border: 2px dashed white;
	padding: 5px;
}
h2 {
	font-family: "Jersey 10", sans-serif;
	font-size: 2em;
}
section {
	border: 2px dashed #160A29;
	padding: 10px;
	float: right;
	left: 20px;
	width: 75%;
	height: 92%;
	margin: 10px 10px 10px 10px;
}
article {
	border: 2px dashed #160A29;
	margin: 5px;
	padding: 5px;
	text-align: left;
}
article h2 {
	font-size: 1.5em;
	line-height: 10px;
}